@import url('(https://fonts.google.com/specimen/Figtree)');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    height: 100vh;
}

.container {
    border: 1px solid black;
    max-width: 370px;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 8px 8px 0 0 hsl(0, 0%, 0%);
}

img {    
    border-radius: 10px;
    margin-bottom: 15px;
}

.span_1 {
    background-color: hsl(47, 88%, 63%);
    width: fit-content;
    margin-left: 0;
    padding: 4px;
    border-radius: 5px;
} 

h1 {
    font-size: 20px;
    padding: 15px 0 15px 0;
}

.paragraph_1 {
    margin-left: 0;
    padding-top: 10px;
}

.paragraph_2 {
    opacity: 0.7;
    line-height: 1.5;
}

.author-info img {
    width: 30px;
}

.author-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 15px;
    gap: 10px;
}

span.span_2 {
    font-weight: 600;
    padding-bottom: 2px;
    font-size: 12px;
    margin-top: 7.5px;
    
}

@media (max-width: 720px) {
    .container {
        max-width: 300px;
    }
}